body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  font-family: 'Montserrat';
  color: white;
  font-size: 16px; }

button {
  border: 0;
  cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

ul, li {
  display: block; }

a {
  text-decoration: none;
  color: white; }

button, input {
  outline: none;
  border: 0; }

.container {
  width: 1170px;
  margin: 0 auto; }

.word-write-section--backgrund {
  background: #212121;
  padding-bottom: 70px; }
  .word-write-section--backgrund .container .write-word-section {
    padding-top: 71px;
    display: flex;
    padding-left: 460px; }
    .word-write-section--backgrund .container .write-word-section h1 {
      margin-left: 50px; }
  .word-write-section--backgrund .container .word-write-section_items {
    padding-left: 20px;
    display: flex; }
    .word-write-section--backgrund .container .word-write-section_items h1 {
      font-size: 30px;
      line-height: 37px; }
    .word-write-section--backgrund .container .word-write-section_items input {
      width: 255px;
      height: 40px;
      background: #F9F6F1;
      margin-left: 60px; }
    .word-write-section--backgrund .container .word-write-section_items button {
      width: 185px;
      height: 40px;
      background: #D7B399;
      text-align: center;
      margin-left: 35px;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: white; }

.main {
  background: #515572;
  padding-bottom: 150px; }
  .main .container .answer-section {
    padding-top: 170px;
    text-align: center; }
    .main .container .answer-section h1 {
      color: black; }
    .main .container .answer-section button {
      margin-top: 30px;
      width: 220px;
      height: 55px;
      background: #a699d7;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: white; }
    .main .container .answer-section input {
      margin-top: 20px;
      width: 220px;
      height: 35px;
      background: #F9F6F1;
      text-align: center; }

.footer {
  background: #212121;
  padding-bottom: 55px; }
  .footer .container h1 {
    text-align: center;
    padding-top: 100px; }
